player-connection-mode=Listen
player-connection-guid=877756567
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=172.23.17.166
player-connection-ip=172.17.0.1
player-connection-ip=172.18.0.1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=88ebe4de594149ef830c519a8cf57c0c
